[mariadbd]
performance_schema=ON
performance-schema-instrument='stage/%=ON'
performance-schema-consumer-events-stages-current=ON
performance-schema-consumer-events-stages-history=ON
performance-schema-consumer-events-stages-history-long=ON

# === Required Settings ===
basedir                         = /usr
bind_address                    = 0.0.0.0 # Change to 0.0.0.0 to allow remote connections
datadir                         = /var/lib/mysql
max_allowed_packet              = 256M
max_connect_errors              = 1000000
pid_file                        = /var/run/mysqld/mysqld.pid
port                            = 3306
socket                          = /run/mysqld/mysqld.sock
secure_file_priv                = /var/lib/mysql
tmpdir                          = /tmp
user                            = mysql

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
log-error                       = /var/log/mysql/mysqld.log
pid-file                        = /var/run/mysqld/mysqld.pid

# === InnoDB Settings ===
default_storage_engine          = InnoDB
innodb_buffer_pool_instances    = 14
innodb_buffer_pool_size         = 43G
innodb_file_per_table           = 1
innodb_flush_log_at_trx_commit  = 1
innodb_flush_method             = O_DIRECT
innodb_log_buffer_size          = 16M
innodb_log_file_size            = 1G
innodb_stats_on_metadata        = 0
innodb_read_io_threads          = 14
innodb_write_io_threads         = 14
innodb_io_capacity             = 4000
innodb_io_capacity_max         = 8000

# === Connection Settings ===
max_connections                 = 140
back_log                        = 512
thread_cache_size               = 14
thread_stack                    = 192K

# === Buffer Settings ===
innodb_sort_buffer_size         = 2M
join_buffer_size                = 4M
read_buffer_size                = 3M
read_rnd_buffer_size            = 4M
sort_buffer_size                = 4M

# === Table Settings ===
table_definition_cache          = 40000
table_open_cache                = 40000
open_files_limit                = 60000
max_heap_table_size             = 256M
tmp_table_size                  = 256M

# === Search Settings ===
ft_min_word_len                 = 3

# === Logging ===
log_bin=ON
binlog_format=ROW
expire_logs_days=7
log_error=/var/log/mysql/mysqld.log
log_queries_not_using_indexes=ON
long_query_time=1
slow_query_log=OFF
slow_query_log_file=/var/log/mysql/slow.log
